# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Python
*.pyc
__pycache__/
.venv/
venv/
*.egg-info/

# Environment
.env
.env.local
.aws/credentials

# Node
node_modules/
npm-debug.log

# Build
dist/
build/

# Archives
*.zip
awscliv2.zip
aws/
